.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 1;
  color: var(--text-dark-grey);
}

.active {
  color: var(--text-primary-light);
}

.inactive {
  color: var(--text-dark-grey);
}

.nav {
  display: flex;
  justify-content: center;
  gap: 8px;
}